PORT=5000
MONGODB_URI=mongodb://thuo120648_db_user:Qwerty.1019@ac-cskj6du-shard-00-00.currhvj.mongodb.net:27017,ac-cskj6du-shard-00-01.currhvj.mongodb.net:27017,ac-cskj6du-shard-00-02.currhvj.mongodb.net:27017/?ssl=true&replicaSet=atlas-co88a2-shard-0&authSource=admin&appName=herrise
JWT_SECRET=change_me_in_production
GOOGLE_CLIENT_ID=your_google_client_id_here
